<section>
  <h1 class="text-display-medium font-semibold mb-5">Getting Started</h1>
  <p>
    For help getting started with Flutter, view the online documentation, which
    offers tutorials, samples, guidance on mobile development, and a full API
    reference.
  </p>
</section>

<section>
  <h2 class="text-headline-large font-semibold mb-5">Installation and Usage</h2>
  <p>
    Once you're familiar with Flutter you may install this package adding
    reactive_forms to the dependencies list of the pubspec.yaml file as follow:
  </p>

  dependencies: flutter: sdk: flutter reactive_forms: ^16.0.4 Then run the
  command flutter packages get on the console.
</section>

<section>
  <h3 class="text-headline-small font-semibold mb-5">Creating a form</h3>
  <p>
    A form is composed by multiple fields or controls. To declare a form with
    the fields name and email is as simple as:
  </p>
</section>

<section>
  <h3 class="text-headline-small font-semibold mb-5">Creating a form</h3>
  <p>
    A form is composed by multiple fields or controls. To declare a form with
    the fields name and email is as simple as:
  </p>
</section>

<section>
  <h3 class="text-headline-small font-semibold mb-5">Creating a form</h3>
  <p>
    A form is composed by multiple fields or controls. To declare a form with
    the fields name and email is as simple as:
  </p>
</section>

<section>
  <h3 class="text-headline-small font-semibold mb-5">Creating a form</h3>
  <p>
    A form is composed by multiple fields or controls. To declare a form with
    the fields name and email is as simple as:
  </p>
</section>

<section>
  <h3 class="text-headline-small font-semibold mb-5">Creating a form</h3>
  <p>
    A form is composed by multiple fields or controls. To declare a form with
    the fields name and email is as simple as:
  </p>
</section>
